<%= render partial: "main/header"%>
<h5>Completed Checkpoints</h5>
<% if @completed_checkpoints.empty? %>
  <p>No checkpoints are finished!</p>
<% else %>
  <% Current.user.courses.each do |course| %>
    <h3><%= course.course_name %>
    <% course.teams.each do |team| %>
      <h4><%= team.team_name%></h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Checkpoint</th>
            <th scope="col">Give User</th>
            <th scope="col">Receive User</th>
            <th scope="col">Rating</th>
            <th scope="col">Comments</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% team.checkpoints.each do |cp| %>
            
              <% team.users.each do |user| %>
                <% Feedback.where(checkpoint_id: cp.id, giveuser_id: user.id, done: true).each do |f| %>
                <tr>
                  <td><%= f.checkpoint.checkpoint_name %></td>
                  <td><%= f.giveuser.fname %></td>
                  <td><%= f.receiveuser.fname %></td>
                  <td><%= f.score %></td>
                  <td><%= f.body %></td>
                  <td><%= button_to "Return Feedback", feedback_completed_path(cp.id), class: "btn btn-primary", method: :get %></td>
                </tr>
                <% end %>
              <% end %>
              
              

            
          <% end %>
        </tbody>
      </table> 
    <% end %>
  <% end %>
<% end %>