<%= render partial: "main/header"%>
<h5>Completed Checkpoints</h5>
<% if @completed_checkpoints.empty? %>
  <p>No checkpoints are finished!</p>
<% else %>
  <% Current.user.courses.each do |course| %>
    <div>
    <h3>Course: <%= course.course_name %>
    <% course.teams.each do |team| %>
      <h4>Team: <%= team.team_name%></h4>
      <div>
      <table class="table">
        
        <thead>
          <tr>
            <th scope="col">Checkpoint</th>
            <% team.users.each do |user| %>
              <th scope="col"><%= user.fname %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% team.checkpoints.each do |cp| %>
            <tr>
              <td><%= cp.checkpoint_name %></td>
              <% team.users.each do |user| %>
                <td><%= cp.feedbacks.where(receiveuser_id: user.id).average(:score) %></td>
              <% end %>
            </tr>
          <% end %>
          <caption>Average Received Score</caption>
        </tbody>
      </table> 
      </div>

      <div>
      <table class="table">
        
        <thead>
          <tr>
            <th scope="col">Checkpoint</th>
            <% team.users.each do |user| %>
              <th scope="col"><%= user.fname %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% team.checkpoints.each do |cp| %>
            <tr>
              <td><%= cp.checkpoint_name %></td>
              <% team.users.each do |user| %>
                <td><%= cp.feedbacks.where(giveuser_id: user.id).average(:score) %></td>
              <% end %>
            </tr>
          <% end %>
          <caption>Average Given Score</caption>
        </tbody>
      </table> 
      </div>

    <% end %>
    </div>
  <% end %>
<% end %>