<% provide(:title, "Log in") %>

<div>
  <%= form_with url: login_path do |form| %>
    <div class="mb-3">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control", placeholder: "smith.12345@osu.edu" %>
    </div>
    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Sign In", class: "btn btn-primary" %>
    </div> 
  <% end %>
  
  <h5>New User? Click the button below to sign up!</h5>
  <%= button_to "Sign Up", signup_path, class: "btn btn-primary", method: :get %>
</div>
