<div class="center">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Fname:</strong>
    <%= @user.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= @user.lname %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @user.role %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>

  <p>
    <strong>Teams:</strong>
    <%@teams.each do |team|%>
    <p> <%= team.team_name%> </p>
    <%end%>
  </p>

  <p>
    <strong>Teammates:</strong>
    <%@teams.each do |team|%>
      <%team.users.each do |member|%>
      <p><%= member.fname + " " + member.lname%></p>

      <%end%>
    <%end%>
  </p>

  <br>

  <p>
    <strong> Feedback tasks:</strong>
  </p>
    <table>
    <tr>
      <th>Course</th>
      <th>Team</th>
      <th>Receiving User</th>
    </tr>
    <%@teams.each do |team|%>
      <%@giveuser_feedbacks.each do |guf|%>
        <tr>
          <td> <%= Course.find(guf.course_id).course_name%> </td>
          <td> <%= Team.find(guf.checkpoint.team_id).team_name%> </td>
          <td> <%= User.find(guf.receiveuser_id).fname + " " + User.find(guf.receiveuser_id).lname %> </td>
        </tr>

      <%end%>
    <%end%>
    </table>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
