<p id="notice"><%= notice %></p>

<!-- Lets layout know what the title is-->
<% content_for :title, "Student"%>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= getName(@user)%>
</p>

<p>
  <strong>Role:</strong>
  <%if @user.role==0%>
    Admin
  <%else %>
    Student
  <% end%>
</p>

<!-- Delete Later-->
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <h2>Teams:</h2>
  <%@teams.each do |team|%>
    <h3> <%= team.team_name%> </h3>
    <h4>Members:</h4>
    <%team.users.each do |member|%>
      <p><%= getName(member)%></p>
    <%end%>
  <%end%>
</p>

<br>

<p>
  <strong> Feedback tasks:</strong>
</p>
  <table>
  <tr>
    <th>Course</th>
    <th>Team</th>
    <th>Action</th>

  </tr>
   
  <!--
  <%@giveuser_feedbacks.each do |guf|%>
    <tr>
      <td> <%= Course.find(Team.find(guf.team_id).course_id).course_name%> </td>
      <td> <%= Team.find(guf.team_id).team_name%> </td>
      <td> <%= guf.fid%> </td>
      <td> <%= User.find(guf.receiveuser_id).fname + " " + User.find(guf.receiveuser_id).lname %> </td>
      <td> <%= guf.created_at%> </td>
    </tr>

  <%end%>
  -->
  
  <%@user_feedbackGroups.each do |guf|%>
    <tr>
      <td> <%= Course.find(Team.find(guf.team_id).course_id).course_name%> </td>
      <td> <%= Team.find(guf.team_id).team_name%> </td>
      <td>View<td>
    </tr>
  <%end%>
  </table>

<%= link_to 'Add/Remove Courses', edit_courses_path(@user)%>
<%= link_to 'Edit Information', edit_user_path(@user) %> 
<%= link_to 'Back', users_path %>

