<p id="notice"><%= notice %></p>

<!-- Lets layout know what the title is-->
<% content_for :title, "Feedbacks"%>

<table>
  <thead>
    <tr>
      <th>Fid</th>
      <th>Team</th>
      <th>Checkpoint</th>
      <th>Giving user</th>
      <th>Receiving user</th>
      <th>Done</th>
      <th>Body</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.fid %></td>
        <td><%= Team.find(feedback.team_id).team_name %></td>
        <td><%= Checkpoint.find(feedback.checkpoint_id).checkpoint_name %></td>
        <td><%= User.find(feedback.giveuser_id).fname %> <%= User.find(feedback.giveuser_id).lname%></td>
        <td><%= User.find(feedback.receiveuser_id).fname %> <%= User.find(feedback.receiveuser_id).lname%></td>
        <td><%= feedback.done %></td>
        <td><%= feedback.body %></td>
        <td><%= feedback.score %></td>
        <td><%= link_to 'Show', feedback %></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback', new_feedback_path %>
