<p id="notice"><%= notice %></p>

<!-- Lets layout know what the title is-->
<% content_for :title, Current.user.fname + "'s Courses"%>

<!-- Course Join form -->
<%= form_with url: courses_path do |form|%>

  <div class="mb-3">
    <%= form.label :code %> 
    <%= form.text_field :code, class: "form-control", placeholder: "cse3902" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Join Course", class: "btn btn-primary" %>
  </div>
<%end%>

<!-- Currently enrolled courses -->
<table class="table">
  <thead>
    <tr>
      <th scope ="col"> Course Name </th>
      <th scope ="col"> Actions </th>
    </tr>
  </thead>
  <tbody>
    <% Current.user.courses.each do |c|%>
    <tr>
      <td><%= c.course_name %></td>
      <% if Current.user.role == 1%>
        <td> Leave <td>
      <%end%>
    </tr>
    <%end%>
  </tbody>
</table>


<%= link_to 'Back', root_path %>