<%= form_with(model: checkpoint, url: "new") do |form| %>

    <% if form.object.errors.any?%>
      <div class="alert alert-danger">
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>
  
    <div class="mb-3">
      <%= form.label :team_id %>
      <%= form.text_field :team_id, class: "form-control", placeholder: "0"%>
    </div>
  
    <div class="mb-3">
      <%= form.label :checkpoint_name %>
      <%= form.text_field :checkpoint_name, class: "form-control", placeholder: "Project 1" %>
    </div>
  
    <div class="mb-3">
      <%= form.submit "Create Feedback", class: "btn btn-primary" %>
    </div>
  <% end %>