<%= form_with(model: checkpoint, url: "new") do |form| %>

    <%= form.collection_check_boxes(:teams, @hash, :last, :first) do |b| %>
      <div class="form-check">
        <%= b.check_box class: "form-check-input"%>
        <%= b.label class: "form-check-label"%>
      </div>
    <% end %>
  
    <div class="mb-3">
      <%= form.label :checkpoint_name %>
      <%= form.text_field :checkpoint_name, class: "form-control", placeholder: "Project 1" %>
    </div>
    
    <div class="mb-3"
      <%= form.label :due_date %>
      <%= form.datetime_local_field :due_date, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Create Feedback", class: "btn btn-primary" %>
    </div>
  <% end %>