<% provide(:title, "Submit Feedback") %>
<%= form_with model: @feedback, url: feedback_form_path do |form| %>
  <% if form.object.errors.any?%>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <h5>Feedback for <%= @receive_user.fname + " " + @receive_user.lname%></h5>

  <div class="mb-3">
    <%= form.label :score %> 
    <%= form.number_field :score, class: "form-control", in: 0..10, step: 1%>
  </div>
  <div class="mb-3">
    <%= form.label :comments %>
    <%= form.text_field :body, class: "form-control" %>
  </div>
  <%= form.hidden_field(:done, value: true) %>
  <%= form.hidden_field(:fid, value: @feedback.id)%>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>